.projects img {
	float: left;
	object-fit: cover;
	margin-right: 1.5rem;
	border-radius: 3%;
}
.projectLinks {
	list-style-type: none;
}
.projectLinks li {
	display: inline-block;
}

.projectOne {
	margin-bottom: 2rem;
	border-bottom: 2px dashed var(--mk-color);
}

@media (max-width: 832px) {
	.projects img {
		float: none;
		display: block;
		object-fit: cover;
		margin: auto;
		border-radius: 3%;
	}
}
