* {
	margin: 0;
}
.App {
	background: #243b55;
	background: linear-gradient(90deg, #141e30, #243b55);
	height: 100vh;
	color: whitesmoke;
	overflow: hidden;
}

.pageNotFound {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 650px) {
	.particles {
		display: none;
	}
}
